<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>Campus Ride</title>
    <meta name="description" content="Enter description here.">
    <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34=" /> 
    <meta name="keywords" content="campus ride riding bikesforrent  bikes">
    <meta name="robots" content="noindex,nofollow" /> 
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta title="Your Ride ">
    <link rel="stylesheet" href="./home.css"> 
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <marquee class="heading" scrollamount="15">
        <h1 >
            BIKES FOR RENT !!     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     HIGH DEMAND !!
        </h1>
    </marquee>
        <div class="container">  
            <h1>FOR YOUR DREAM RIDE</h1>
            <div class="bike-1"> 
                <div class="Scooty">
                    <img class="bikeclass" src="/images/enfield.jpg" 
                    alt="lmnb"> 
                    <h3> Royal Enfield 849/day</h3> 
                </div>
                <div class="Scooty">
                    <img class="bikeclass" src="/images/apache.jpg" 
                    alt="lmnb"> 
                    <h3> Apache 649/day</h3> 
                </div>
                <div class="Scooty">
                    <img class="bikeclass" src="/images/scooty.jpg" 
                    alt="lmnb"> 
                    <h3> Scooty 449/day</h3> 
                </div>
            </div>   
                <p>For Booking Contact Us On</p>
                <div class="web">
                  <a href="http://wa.me/+917983000398">  
                     <i class="fa fa-whatsapp">  Whatsapp</i>
                  </a>  
                </div>  
              <marquee class="marquee" scrollamount="15">
                <h1>THESE E-SCOOTERS AVAILABLE SOON !!!</h1>
              </marquee> 
            <div class="bike-1">
                <div class="Scooty">
                    <img class="bikeclass" src="/images/electric_cycle.webp" 
                    alt="lmnb"> 
                    <h3>Electric Cycle</h3> 
                </div>
                <div class="Scooty">
                    <img class="bikeclass" id="scooter" src="/images/simple_scooter3.jpg" 
                    alt="lmnb"> 
                    <h3>Scooter </h3> 
                </div>
                <div class="Scooty">
                    <img class="bikeclass" src="/images/electric_cycle2.webp" 
                    alt="lmnb"> 
                    <h3>Electric Cycle</h3> 
                </div>
            </div> 
        </div>  
        
         <br>
        
         <div class="cont">
            <form action="https://formsubmit.co/4b6e5302fba7e11450a5b5f18cfde1b6" method="POST" id="formid">
                <h1>GET IN TOUCH</h1> 
                <input class="name" type="text" name="name" placeholder="Enter your Name" required> 
                <textarea name="message" rows="7" cols="42" id="feedback" form="formid" placeholder="Give your suggestion or feedback" autocomplete="off" required></textarea>
                <div class="button">
                   <button type="submit" value="send">Submit</button> 
                </div>
            </form>

        </div>
</body>
</html>
